.footer {
  text-align: center;
  color: $gray;
  background-color: $lightgray;
  padding: 1.25em;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__vertical-rule {
    margin: 0 10px;
  }
}