.navigation-container {
  padding: 0 1.25em;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  .logo {
    width: 60px;
  }
}

.nav {
  padding: .25em 1.5em;
  padding-bottom: 0;
  background: $beige;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;

  &__ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__list {
    margin: .75em 0;

    &--menu-btn {
      order: -2;
      text-align: right;
    }

    &--search {
      order: -1;
    }
  }

  &__link {
    font-size: 2.5rem;
    text-decoration: none;
    color: inherit;
    color: #6a6a6a;

    &:hover {
      color: $darkgray;
    }
  }
}

.btn-menu {
  border: 0;
  outline: 0;
  color: #6a6a6a;
  background: transparent;
  width: 50px;
  height: 50px;
  font-size: 3.5rem;
  cursor: pointer;

  &:hover {
    color: $darkgray;
  }

  &--exit {
    text-align: right;
    margin-left: auto;
  }
}

.search {

  &__input {
    padding: .5em;
    border: 2px solid $darkgray;
    border-radius: 100px;
    background: transparent;
    color: $darkgray;
    text-align: center;
  }

  &__submit {
    display: none;
  }
}

.hero {
  height: 50vh;
  background: $gray url("../assets/images/header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    color: $darkgray;
    font-size: 3.25rem;
    font-family: 'Montserrat', sans-serif;
  }
}

@media (min-width: $breakpoint-tablet) {

  .navigation-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .hero {

    &__title {
      font-size: 5rem;
    }
  }
}