.navigation-container {
  padding: 0 1.25em;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 60px;
}

.nav {
  padding: .25em 1.5em;
  padding-bottom: 0;
  background: $beige;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;

  &__ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__list {
    margin: .75em 0;

    &--menu-btn {
      order: -2;
      text-align: right;
    }

    &--search {
      order: -1;
    }
  }

  &__link {
    font-size: 2.5rem;
    text-decoration: none;
    color: inherit;
    color: #6a6a6a;

    &:hover {
      color: $darkgray;
    }
  }
}

.btn-menu {
  border: 0;
  outline: 0;
  color: #6a6a6a;
  background: transparent;
  width: 50px;
  height: 50px;
  font-size: 3.5rem;
  cursor: pointer;

  &:hover {
    color: $darkgray;
  }

  &--exit {
    text-align: right;
    margin-left: auto;
  }
}

.search {

  &__input {
    padding: .5em;
    border: 2px solid $darkgray;
    border-radius: 100px;
    background: transparent;
    color: $darkgray;
    text-align: center;
  }

  &__submit {
    display: none;
  }
}

.hero {
  height: 50vh;
  background: $gray url("../assets/images/header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    color: $darkgray;
    font-size: 3.25rem;
    font-family: 'Montserrat', sans-serif;
  }
}

@media (min-width: $breakpoint-tablet) {

  .navigation-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .hero {

    &__title {
      font-size: 5rem;
    }
  }
}

@media (min-width: $breakpoint-lg-tablet) {
  
  /* Hide hamburger */
  .hide-on-desktop {
    display: none;
  }

  /* Display nav links */
  .hide-on-mobile {
    display: block;
  }

  .nav {
    position: static;
    height: auto;
    background: transparent;
    padding: 0;

    &__ul {
      flex-direction: row;
      align-items: center;
      text-align: left;
    }

    &__list {
      margin: 0 .5em;

      &--menu-btn,
      &--search {
        order: initial
      }
    }

    &__link {
      font-size: 1.6rem;
      color: $gray;

      &--active,
      &:hover {
        color: $darkgray;
      }
    }
  }

  /* Style desktop navbar */
  .search {
    $size: 40px;
    
    display: flex;
    align-items: center;
    width: $size;
    height: $size;
    font-size: 1.6rem;
    border: 2px solid transparent;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    transition: width 200ms ease-in-out;

    &:focus-within {
      border-color: $darkgray;
      width: 235px;

      .search__input {
        width: calc(100% - 60px);
        opacity: 1;
        left: $size;
        z-index: initial;
        cursor: initial;
      }
    }

    &__input {
      flex-grow: 1;
      width: calc(100% - $size);
      padding: .25em;
      text-align: left;
      border: none;
      opacity: 0;
      position: absolute;
      left: 0;
      z-index: 2;
      cursor: pointer;

      &::placeholder {
        text-align: left;
      }
    }

    &__submit {
      order: -1;
      display: block;
      width: $size;
      height: $size;
      padding-top: 5px;
      background: transparent;
      color: $darkgray;
      font-size: 2rem;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

@media (min-width: $breakpoint-xl-tablet) {
  .logo {
    width: 80px;
  }

  .hero {

    &__title {
      font-size: 6rem;
    }
  }
}

@media (min-width: $breakpoint-laptop) {

  .logo {
    width: 120px;
  }

  .navigation-container {
    padding: 0 3em;
  }

  .hero {
    height: 70vh;
    background-size: cover;
    background-position: bottom;
  }

  .nav {

    &__list {
      margin: 0 1em;
    }
  }
}
