.section-header {
  padding: 1.5em 3em;

  &__heading {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 2.25rem;
    color: $darkgray;
  }
}

@media (min-width: $breakpoint-laptop) {

  .section-header {
    max-width: 1500px;
    margin: 0 auto;
  }
}

@media (min-width: $breakpoint-desktop) {
  
  .section-header {

    &__heading {
      font-size: 2.5rem;
    }
  }
}