@import "fonts";
@import "normalize";
@import "variables";
@import "header";
@import "section-header";
@import "about-us";
@import "categories";
@import "footer";

html {
  font-size: 55%;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: $breakpoint-tablet) {
  html {
    font-size: 60%;
  }
}